body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-container {
  background: url("../../PROYECTO/LOGOS/FONDO.png") no-repeat center center;
  background-size: cover;
}
.game-header {
  top: 0;
  left: 0;
  width: 30%;
  height: 80px;
  background-color: #ffeb3b;
  border-bottom-right-radius: 60px;
}

.game-header img {
  height: 60px;
  width: 60px;
  margin-right: 20px;
}

.sub-bar {
  top: 90px;
  left: 0px;
  width: 15%;
  height: 60px;
  background-color: #ed56ad;
  border-bottom-right-radius: 40px;
}

.lives {
  font-size: 2rem;
  z-index: 10;
}

.lives i {
  color: #ff0000;
}

.vitamin-zone {
  min-height: 200px;
  position: relative;
  border: 2px dashed #ccc;
}

.vitamin-zone h5 {
  color: #ff8800;
}

.food-item {
  width: 200px;
  height: 250px;
  margin: 10px;
  background-color: #8bc34a;
  cursor: grab;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.food-item:hover {
  transform: scale(1.1);
  background-color: #7cb342;
}

.food-item img {
  max-width: 80%;
  
}

.img-container{
  width: 160px; /* Aumenté el tamaño de los iconos */
    height: 160px;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 30px;
}

.modal-header,
.modal-footer {
  border: none;
}

.modal-title {
  font-size: 2.5rem;
  color: #ff8800;
  text-align: center;
}

.modal-body {
  font-size: 1.6rem;
  color: #333;
  text-align: center;
  font-weight: bold;
  padding: 20px;
  background-color: #fffdc0;
  border-radius: 10px;
}

.modal-body.success {
  background-color: #c3f2c4;
  color: #2d7a2f;
}

.modal-body.error {
  background-color: #f8c7c7;
  color: #b13a3a;
}

.modal-body.info {
  background-color: #fff4c4;
  color: #ff9900;
}

.modal-body p {
  font-size: 1.8rem;
}

.modal-body i {
  font-size: 3rem;
  margin-bottom: 20px;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.food-item.shake {
  animation: shake 0.5s;
}

.vitamin-zone.correct {
  background-color: #c3f2c4; /* Verde */
  transition: background-color 0.5s;
}
