/* General */
body {
    background-color: #41A7F5;
    font-family: 'Gill Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.perfil-header {
    background-color: #F5CF54;
    padding: 10px 20px;
    border-radius: 0 50px 50px 0;
    display: inline-block;
}

.perfil-titulo {
    color: #FFF;
    font-size: 24px;
    font-weight: bold;
}

/* Contenido del perfil */
.perfil-contenido {
    background-color: #FFF;
    border-radius: 50px;
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 4px 8px #0000001a;
}

/* Avatar y nombre */
.perfil-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.perfil-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #FFF;
    box-shadow: 0 4px 8px #00000033;
}

.perfil-nombre {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

/* Barra de progreso */
.perfil-progreso {
    width: 80%;
    margin-top: 10px;
}

.barra-progreso {
    background-color: #E0E0E0;
    height: 8px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.progreso-actual {
    background-color: #93E201;
    height: 100%;
    width: 50%;
    border-radius: 5px;
}

.progreso-texto {
    margin-top: 5px;
    color: #888;
}

/* Logros y categorías */
.logros-categorias {
    margin-top: 20px;
    text-align: left;
}

.logros-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 10px;
}

.logros-titulo {
    font-weight: bold;
    color: #fff;
    margin-left: 40%;
    
}

.logros-color {
    background-color: #E6CB60;
    border-radius: 10px;
    width: 100%;
    font-size: 20px;
    height: 50px;
}

.categoria-btn {
    background-color: #F78FB3;
    color: #FFF;
    border: none;
    height: 50px;
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
}

/* Lista de logros */
.logros-lista {
    background-color: #F9F9F9;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logro-item {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #E0E0E0;
}

.logro-titulo {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.logro-desc {
    font-size: 14px;
    color: #666;
}

.logro-estado {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}

.completado {
    color: #4CAF50;
}

.no-completado {
    color: #F44336;
}

.btn-salir {
    background-color: #F44336;
    color: #FFF;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
}
